body {
  background-color: var(--main-bg-color);
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

:root {
  --main-bg-color: #000033;
  --main-text-color: #fff;
  --main-card-color: #000022;
  --main-accent-color: #d2b48c;
  --main-accent2-color: #b9d3c2;
}

input, select {
  background-color: var(--main-bg-color);
  outline: none;
  border: none;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom: 1px solid var(--main-accent-color);
  padding: 1em;
  color: var(--main-text-color);
  margin: 0.5em;
}

/* Prepared to make all text lowercase */
/* p,
h1,
h2,
h3,
h4,
h5,
h6,
td,
tr,
div,
input,
dialog,
span,
button,
img {
  text-transform: lowercase;
} */

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 0.5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(47, 167, 252, 0.5);

  border-radius: 0.5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(47, 167, 252, 1);
}
