body {
  background-color: var(--main-bg-color);
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Courier New', Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #000;
  --main-text-color: #fff;
  --main-card-color: rgba(255, 255, 255, 0.05);
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 0.5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(47, 167, 252, 0.5);

  border-radius: 0.5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(47, 167, 252, 1);
}
